<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--slider css -->
    <link rel="stylesheet" href="{{url_for('static', filename='docs/flickity.css')}}" media="screen">
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<header>
    <div class="header_top" id="header_top">
        <div class="head_wrap row ">
            <div class="head_left col-4 ">
                <ul class="d-flex justify-content-evenly align-items-center nav_links nav_left">
                    <li>
                        <a href="/">Fərdi</a>
                    </li>
                    <li>
                        <a href="https://www.yelo.az/az/business/">Biznes</a>
                    </li>
                    <li>
                        <a href="https://www.yelo.az/az/about-bank/">Bank Haqqında</a>
                    </li>
                </ul>
            </div>
            <div class="head_right col-5">
                <ul class="d-flex justify-content-evenly align-items-center nav_links right_links">
                    <li>

                        <a href=""><i class="fa-solid fa-location-dot"></i>ATM və Filiallari</a>
                    </li>
                    <li>

                        <a href=""><i class="fa-solid fa-user-clock"></i>Online növbə</a>
                    </li>
                    <li>

                        <a href=""><i class="fa-solid fa-phone"></i>981</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-magnifying-glass" id="searching" style="
                       color: gray; cursor: pointer;"></i>

                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/az" role="button" aria-expanded="false">AZ</a>
                        <ul class="dropdown-menu">
                            <li style="display: block;"><a class="dropdown-item" href="/az">AZ</a></li>
                            <li style="display: block;"><a class="dropdown-item" href="/en">EN</a></li>
                            <li style="display: block;"><a class="dropdown-item" href="/ru">RU</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_bottom ">
        <div class="head_core">
            <div class="head_wrap ">

                <a href="/">
                    <div class="logo"></div>
                </a>
                {%if status%}
                <nav class="extra_nav">
                    <ul class="bttm_nav_links">
                        <li><a href="#">Kreditlər</a></li>
                        <li><a href="/individuals/cards/">Kartlar</a></li>
                        <li><a href="/individuals/deposits/">Əmanətlər</a></li>
                        <li><a href="">Pul Köçürmələri</a></li>
                    </ul>
                </nav>
                {%endif%}
                <div class="head_right d-flex align-items-center">
                    <a href="#" class="internet_button btn_style"><i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Internet Bank</a> {%if status%}
                    <a href="#" id="hamburger">
                        <div class="hamburger_menu"><i id="bars" class="fa-solid fa-bars"></i>
                        </div>
                    </a>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="head_extra display_none" id="extra">
            <div class="head_wrap sub_menu_wrap">
                <div class="menu_left">
                    <div class="exp_nav">
                        <div class="exp_nav_item">
                            <a href="/az/individuals/loans" class="m_nav">Kreditlər</a>
                            <ul>
                                <li><a href="">İstehlak krediti </a></li>
                                <li><a href="">Online kredit</a></li>
                                <li><a href="">Daşınmaz əmlak girov krediti</a></li>
                                <li><a href="">Əmanət təminatlı kredit</a></li>
                                <li><a href="">İpoteka krediti</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="/individuals/cards/" class="m_nav">Kartlar</a>
                            <ul>
                                <li><a href="/individuals/cards/yelo-kart-debet">Yelo Light</a></li>
                                <li><a href="/individuals/cards/yelo-kart-premium">Yelo Premium</a></li>
                                <li><a href="/individuals/cards/yelo-loan-card">Yelo Kredit kartı</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="/individuals/deposits/" class="m_nav">Əmanətlər</a>
                            <ul>
                                <li><a href="">Yelo sabit</a></li>
                                <li><a href="">"Parlaq zəfər" əmanəti</a></li>
                                <li><a href="">Yelo Yığım</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Kart xidmətləri</a>
                            <ul>
                                <li><a href="">Online PİN SET</a></li>
                                <li><a href="">Chashback</a></li>
                                <li><a href="">PİN Reset</a></li>
                                <li><a href="">PİN kodun dəyidirilməsi</a></li>
                                <li><a href="">SMS məlumatlandırılması</a></li>
                                <li><a href="">3 secure</a></li>
                                <li><a href="">Cash by code</a></li>
                                <li><a href="">Card to card</a></li>
                                <li><a href="">ATM PİN SET</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Pul köçürmələri</a>
                            <ul>
                                <li><a href="">Western Union</a></li>
                                <li><a href="">Zolotaya Korona</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Online xidmətlər</a>
                            <ul>
                                <li><a href="/individuals/online-services/loan_request/">Online kredit sifarişi</a></li>
                                <li><a href="">Online ödəmə</a></li>
                                <li><a href="">Online kredit ödənişi</a></li>
                                <li><a href="">Online növbə</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Digər xidmətlər</a>
                            <ul>
                                <li><a href="">Hesablaşma-kasa xidməti</a></li>
                            </ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Chashback</a>
                            <ul></ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Forum</a>
                            <ul></ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Kredit kalkulyatoru</a>
                            <ul></ul>
                        </div>
                        <div class="exp_nav_item">
                            <a href="" class="m_nav">Təklif və iradlar</a>
                        </div>
                    </div>
                    <div class="contact_inf">
                        <div class="contact_inf_item">
                            <p>Bizi tap</p>
                            <b>Həsən bəy Zərdabi 81K, Bakı AZ 1122, Azərbaycan</b>
                        </div>
                        <div class="contact_inf_item">
                            <p>Əlaqə nömrəsi</p>
                            <b>981</b>
                        </div>
                        <div class="contact_inf_item">
                            <p>Bizə yazın</p>
                            <b>bank@yelo.az</b>
                        </div>
                    </div>
                </div>

                <a href="/az/individuals/cards/yelo-kart-debet111/" class="menu_right" style="background-image: url(../../static/images/artboard_7.png)">
                </a>
            </div>

        </div>
    </div>

    <div class="search" style="display: none;">
        <div class="search_wrap">
            <div class="search_block">

                <form action="" method="post">

                    <input type="text" class="search_content" id="search_input" placeholder="Axtarış">

                    <div class="search_btn">

                        <i class="fa-solid fa-magnifying-glass"></i>

                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </form>

            </div>

        </div>
    </div>
</header>
<div class="main">{%block content%} {% endblock %}</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<footer class="bg-white text-center text-lg-start">
    <!-- Grid container -->

    <div class="container p-4">
        <hr>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                <h5 class="font-weight-bold">Fərdi</h5>

                <ul class="list-unstyled mb-0" style="line-height: 35px; margin-top: 20px;">
                    <li>
                        <a href="#!" class="text-secondary">Kreditlər</a>
                    </li>
                    <li>
                        <a href="/individuals/cards/" class="text-secondary">Kartlar</a>
                    </li>
                    <li>
                        <a href="/individuals/deposits/" class="text-secondary">Əmanətlər</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Pul köçürmələri</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                <h5 class="font-weight-bold mb-0">Biznes</h5>

                <ul class="list-unstyled" style="line-height: 35px; margin-top: 20px;">
                    <li>
                        <a href="#!" class="text-secondary">Kreditlər</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Kartlar</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Biznes xidmətlər</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                <h5 class="font-weight-bold">Bank haqqında</h5>

                <ul class="list-unstyled mb-0" style="line-height: 35px; margin-top: 20px;">
                    <li>
                        <a href="#!" class="text-secondary">Rəhbərlik</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Karyera</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Hesabatlar</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Komitələr</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Sənədlər</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Xəbərlər</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                <h5 class="font-weight-bold mb-0">Online xidmətlər</h5>

                <ul class="list-unstyled" style="line-height: 35px; margin-top: 20px;">
                    <li>
                        <a href="/individuals/online-services/loan_request/" class="text-secondary">Online kredit
                            sifarişi</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Kart sifarişi</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Online növbə</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Online kredit ödənişi</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary">Online ödəmə</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div>
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <div class="row">
                <div class="col-lg-4">
                    <section class="mb-4" style="margin-left: 0; display:flex;">
                        <!-- Facebook -->
                        <a class="btn btn-floating m-1" style="color: #ABA9AD;background-color: #F3F1F7; border-radius: 50px;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-floating m-1" style="color: #ABA9AD;background-color: #F3F1F7; border-radius: 50px;" href="#!" role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="btn btn-floating m-1" style="color: #ABA9AD;background-color: #F3F1F7; border-radius: 50px;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>


                        <!-- Youtube -->
                        <a class="btn btn-floating m-1" style="color: #ABA9AD;background-color: #F3F1F7; border-radius: 50px;" href="#!" role="button"><i class="fab fa-youtube"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-floating m-1" style="color: #ABA9AD;background-color: #F3F1F7; border-radius: 50px;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                    </section>
                </div>
                <div class="col-lg-4 text-left" style="margin-left: 180px;">
                    <p class="text-secondary" style="font-size:14px; margin-bottom: 0;">Bizi tap</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark font-weight-bold" style="font-size:14px;">Həsən bəy Zərdabi
                                81K, Bakı AZ 1122, Azərbaycan</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-1 text-left">
                    <p class="text-secondary" style="font-size:14px; margin-bottom: 0;">Əlaqənömrəsi</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark font-weight-bold" style="font-size:14px;">981</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-1 text-left">
                    <p class="text-secondary" style="font-size:14px; margin-bottom: 0;">Bizə yazın</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark font-weight-bold" style="font-size:14px;">bank@yelo.az</a>
                        </li>
                    </ul>

                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="logo" style="width: 100%;">

    </div>

    <div class="container">
        <div class="d-flex justify-content-center" style="margin-top: 30px; margin-bottom:10px;">
            <div class="text-sm-center text-secondary" style="font-size:0.75em; margin:5px 10px;">© 2020 Yelo Banks
            </div>
            <div>
                <a href="" class="text-sm-center text-secondary" style="font-size:0.75em; margin:0 10px; text-decoration: underline; "> E-portal</a>
            </div>
            <div>
                <a href="" class="text-sm-center text-secondary" style="font-size:0.75em; margin:0 10px; text-decoration: underline;"> ADIF</a>
            </div>
            <div>
                <a href="" class="text-sm-center text-secondary" style=" font-size:0.75em; margin:0 10px; text-decoration: underline;">infobank.az </a>
            </div>
            <div>
                <a href="" class="text-sm-center text-secondary" style=" font-size:0.75em; margin:0 10px; text-decoration: underline;"> Qarabağ Dirçəliş Fondu</a>
            </div>
            <br>
            <div>
                <a href="" class="text-sm-center text-secondary" style=" font-size:0.75em; margin:0 10px; text-decoration: underline;"> YAŞAT Fondu</a>
            </div>

        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
            <span class="text-secondary" style=" font-size:0.75em; margin:0 10px;">Site by</span>
            <img src="{{url_for('static', filename = 'images/logo-little.png')}}" alt="" style="width: 20px; margin-right:5px;">
            <a class="text-secondary" href="" style=" font-size:0.75em;"> Laman Fatima </a>
        </div>

    </div>
</footer>



<!-- Bootsrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<!-- slider js -->
<script src="{{url_for('static', filename='docs/flickity.pkgd.min.js')}}"></script>
<!-- <script src="../assets/docs/flickity.pkgd.min.js"></script> -->
<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/0187bb1c04.js" crossorigin="anonymous"></script>
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Header js -->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% block footer %} {% endblock %}

<body>

</body>

</html>