ul li{
    list-style: none;
}

a{
    text-decoration: none;
}


.container{
    max-width: 1150px;
}
.page_title {
    text-align: center;
    margin: 120px auto 70px;
    position: relative;
}

.page_title h1{
    font-weight: 600;
    font-size: 55px;
    text-align: center;
}

.news_list{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.news_list li {
    width: 33.333%;
    margin: 0px;
    padding: 0 15px 30px;
    flex-grow: 1;
    max-width: 33.3333%;
    box-sizing: border-box;
}

.news_list .news_l_desc {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    padding: 20px 15px;
}

.news_l_desc b {
    display: inline-block;
    min-height: 72px;
    font-family: 'b';
    font-size: 20px;
    line-height: 24px;
}

.news_l_desc p {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 0 0;
}

.news_foot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}
.news_foot div{
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #0091FE;
}


.news_item a:hover{
    color: black;
}
.news_foot i{
    font-size: 20px;
}

.news_foot time {
    display: inline-block;
    margin: 13px 0 0;
    color: rgba(0,0,0, 0.6);
}

.full_link {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
}

.news_link {
    padding: 25px 0 0;
    text-align: center;
}

.news_link button {
    /* display: inline-block; */
    width: auto;
    height: 48px;
    padding: 0 30px ;
    border: none;
    color: #0091FE;
    background-color: white;
    line-height: 50px;
    box-shadow: inset 0 0 0 1px #0091fe;
    border-radius: 6px;
    font-weight: 600;
}

.news_link button i{
    margin-left: 10px;
}
.news_link button:hover{
    background-color: #0091FE;
    color: white;
}