.container{
    max-width: 1150px;
    text-align: center;
}
a{
    text-decoration: none;
}
.common_page_title {
    text-align: center;
    margin: 160px auto 50px auto;
    max-width: 1150px;
    position: relative;
}
.common_page_title .back_to {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    font-weight: 600;
    color: #0091FE;
}


.common_page_title p {
    font-size: 22px;
    color: rgba(0,0,0,0.5);
    line-height: 30px;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 0 20px;
    text-align: center;
}

.common_page_title h1 {
    font-size: 54px;
}

.main_wrap {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.text_content {
    padding: 30px 0 60px;
}

.text_content p {
    text-align: start;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    line-height: 30px;
    margin: 0 0 20px 0;
}

.align_left {
    float: left;
    margin: 10px 20px 5px 0;
    width: 44%;
}
.share{
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #0091FE;
    background-color: white;
    border-radius: 10px;
    color: #0377cf;
    font-weight: 600;
    letter-spacing: 1.5px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.share i{
    font-size: 17px;
    margin-left: 5px;
    color: #0377cf;
}
.share:hover{
    background-color: #088ef5;
    color: white;
}

.share:hover i{
    color: white;
}

.social_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
}
.social_item{
    cursor: pointer;
}
.social_item:hover i{
    color: #0091FE;
}

.social_item i{
    font-size: 30px;
    color: gray;

}

.modal-title{
    font-size: 20px;
    font-weight: 600;
}
.share-component{
    display: inline-block;
}