:root {
    --yellow:#FFC628;
    --white: #ffffff;
}


ul {
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.display_none{
    display: none;
}
.display_block{
    display: block;
}

input[type=text]:focus{
    border: none;
}

/*-------------------> Header Start <---------------------------- */
header {
    top: 0px;
    width: 100%;
    z-index: 90;
    position: fixed;
    }

.header_top{
    height: 52px;
    background: white;
    border-bottom: 1px solid #ECECEC;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    /* overflow: hidden; */
   
    left: 6%;
    z-index: 1;
   
}
.header_bottom{
    
    width: 100%;
    z-index: inherit;
}

.head_core{
    display: flex;
    align-items: center;
    height: 80px;
    background: transparent;
    overflow: hidden;
}
.head_core nav a::after {
    display: block;
    height: 3px;
    width: 0%;
    background:black;
    bottom: 15px;
    left: 0px;
    position: absolute;
    }
.head_core .head_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    width: 1150px;
}
.head_wrap{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}
.nav_links{
    list-style-type: none;
    text-transform: none;
}
.nav_links li {
    display: inline-block;
    
    margin: 0 15px 0 0;
}
.nav_links li a{
    text-decoration: none;
    font-size: 14px;
    padding: 10px 7px;
    /* color: grey; */
}
.nav_links i{
    margin: 0 5px 0 0;
}

.nav_left li{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_left li a:hover{
    border-bottom: 2px solid var(--yellow);
    transition: 0.1s ;
}
.nav_left li:first-child a{
    color: black;
    border-bottom: 2px solid var(--yellow);
}
.head_left {
    text-align: start;
    display: flex;
    justify-content: start;
}
.head_left ul a , .head_right ul a{
    color: grey;
}
.header_bottom .head_right{
    width: 262px;
    justify-content: end;
}

.right_links li{
    margin: 0;
}

.logo{
    display: block;
    width: 145px;
    height: 36px;
    background: url(../images/logo.svg)  no-repeat center;
}
.logo a{
   
    text-decoration: none;
    align-items: center;
}
.logo span{
    color: black;
    font-weight: bolder;
}
.extra_nav{
    width: 700px;
}
.extra_nav ul li a{
    border-bottom: 3px solid transparent;
}
.extra_nav ul li a:hover{
    border-bottom: 3px solid black;
    transition: 0.2s;
    
}
.bttm_nav_links{
    list-style-type: none;
    text-transform: none;
}

.bttm_nav_links li{
    display: inline-block;
    margin: auto 15px;
}

.bttm_nav_links li a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 7px;
    color: rgb(41, 40, 40);
}

.btn_style{
    height: 52px;
    background: #FFC628;
    padding: 9px 25px;
    color: black;
    border-radius: 16px;
    font-size: 18px;
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    width: 180px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
  }
  .btn_style:hover{
    background: #000;
    color: #ECECEC;
    
  }
  .btn_style:hover a{
    color: #ECECEC;
  }
/* .btn_style{
    height: 55px;
    background: #FFC628;
    padding: 9px 25px;
    color: black;
    border-radius: 30px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'm';
    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);
    width: 175px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
} */
/* .btn_style:hover{
    background: #000;
    color: #ECECEC;
} */
.fa-arrow-right-to-bracket{
    padding-right: 8px;
}

.hamburger_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;;
    background-color: rgb(247, 244, 244);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    
}

.hamburger_menu i{
    color: gray;
    text-align: center;
    
}
.menu_left {
    width: calc(100% - 345px);
    box-sizing: border-box;
    padding: 0 30px 0 0;
}
.exp_nav {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 10px;
}
.exp_nav_item:nth-child() {
    grid-row-end: span 2;
}
.exp_nav_item:nth-child(4) {
    grid-row-end: span 2;
}
.exp_nav_item .m_nav {
    font-family: 'm';
    font-size: 27px;
    color: #000000;
    display: block;
    margin: 0 0 5px 0;
}

.exp_nav_item li {
    margin: 0 0 5px 0;
}
.exp_nav_item li a {
    color: rgba(0,0,0,0.5);
   
}
.menu_left .contact_inf {
    padding: 25px 0 0 0;
    border-top: 1px solid #ECECEC;
    margin: 15px 0 0 0;
}
.contact_inf {
    display: flex;
    justify-content: space-between;
}
.contact_inf_item{
    width: 30%;
}

.contact_inf_item p {
    color: rgba(0,0,0,0.5);
}

.contact_inf_item b {
    color: #000000;
    font-family: 'm';
    font-weight: normal;
    font-size: 15px;
    width: 50%;
}
.sub_menu_wrap {
    align-items: flex-start;
    padding: 10px 12px 50px;
}
.menu_right {
    width: 345px;
    height: 345px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* ------------------> Header end <---------------------- */

/* search */
.search_wrap{
    width: 100%;
    height: 90px;
    background-color: white;
}
.search_block form {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
    height: 90px;
    background-color: white;
    align-items: center;
}
.search_content{
    width: 88%;
    height: 90px;
}
#search_input{
    width: 100%;
    font-size: 25px;
    border: none;
}
.search_btn{
    width: 12%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 23px;
    color: gray;
}

.search_btn i:hover{
    cursor: pointer;
}

input:focus{
    outline: none;
}