 {% extends 'base.html' %} {% block title %}cards{% endblock %} {% block head %}


<link rel="stylesheet" href="{{url_for('static', filename = 'css/cards.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endblock %} {% block content %}
<main>
    <div class="container">
        <h3 class="text-center" id="main-header">Kartlar</h3>
        <p class="text-center" id="cards-description">Online kart sifarişi xidməti: İndi siz evdən çıxmadan plastik kart sifariş edə bilərsiniz. Yelo Bankın təqdim etdiyi plastik kartlar ilə üstünlüklərdən yararlanmaq üçün tələsin. İstənilən yerdə istifadəsinin rahatlığı və üstünlükləri ilə Yelo
            Bank hesab kartları hər kəsin ürəyincə olacaq.</p>
        {% for card in cards%}
        <div class="d-flex" id="card">
            <div class="col-lg-6 col-md-12 col-sm-12" id="card-content">
                <h3 style="font-size:30px;font-weight: 600; margin-bottom:10px;">{{card.title}}</h3>
                <p id="header-text">{{card.description}}</p>
                <br>

                <div class="row">
                    <div class="col-lg-3">
                        <p class="sub-head">{{card.feature1}}</p>
                        <p class="main-info">{{card.feature1_value}}</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="sub-head">{{card.feature2}}</p>
                        <p class="main-info">{{card.feature2_value}}</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="sub-head">{{card.feature3}}</p>
                        <p class="main-info">{{card.feature3_value}}</p>
                    </div>
                </div>
                <br>
                <div class="row" id="third-row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <button id="button-first">Sifariş et</button>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div id="row-div">
                            <a href="/individuals/cards/{{card['card_type']}}"><span id="for-more">Daha ətraflı</span></a>
                            <a class="btn btn-floating m-1" href="/individuals/cards/{{card['card_type']}}" id="arrow-button" role="button"><i class="fa-solid fa-arrow-right" id = "right-arrow"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <img src={{card.image_url}} alt="" id="card-image">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" id="card-right">

            </div>
        </div>
        {%endfor%}

        <div id="stories">
            <span id="stories-head" style="margin-bottom: 20px;">Storilər</span>
            <div id="button-second" style="margin-bottom: 10px;">
                <h6 class="text-center">3</h6>
            </div>
            <br>
            <div class="d-flex">
                <div class="col-4" id="story" style="margin-left: 0; background-color: #0071C7;">
                    <div class="row">
                        <div class="col-6" id="story-content">
                            <div id="story-head-div"><span id="story-head" style="color: #0071C7;">Kredit</span></div>
                            <p id="story-desc">Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var</p>
                        </div>
                        <div class="col-5">
                            <img src="{{url_for('static', filename = 'images/story-kredit.png')}}" alt="" id="story-img">
                        </div>
                    </div>
                </div>
                <div class="col-4" id="story" style="background-color: #D82A34;">
                    <div class="row">
                        <div class="col-7" id="story-content">
                            <div id="story-head-div"><span id="story-head" style="color: #D82A34;">Cashback</span></div>
                            <p id="story-desc">600-dən çox partnyoru özündə birləşdirən Cashback proqramı</p>
                        </div>
                        <div class="col-4">
                            <img src="{{url_for('static', filename = 'images/stories-6.png')}}" alt="" id="story-img">
                        </div>
                    </div>
                </div>
                <div class="col-4" id="story" style="background-color: #81BD5B;">
                    <div class=" row">
                        <div class="col-6" id="story-content">
                            <div id="story-head-div"><span id="story-head" style="color: #81BD5B;">Yelo kart</span></div>
                            <p id="story-desc">Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək</p>
                        </div>
                        <div class="col-5">
                            <img src="{{url_for('static', filename = 'images/stories-5-pic.png')}}" alt="" id="story-img">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="text">
            <p style="line-height: 28px;">Həm xərclədikcə qazanmaq, həm də kartdakı pulunuza pul gəlsin istəyirsiniz? Hansı plastik kartı seçəcəyinizə əmin deyilsinizsə, Yelo Bank-dan Yelo Kartları qarşılayın! Yelo Kartla xərclərinizə baxışınızı dəyişəcəksiniz. Yelo kartla rahat pul
                xərcləyəcəksiniz, xərclədikcə xərclərinizdən cashback qazanacaqsınız, kartınızın hesabını və bonuslarınızı rahatlıqla izləyəcəksiniz, online kart sifarişi edib, kartı əldə etdikdən sonra Yelo Karta görə partnyor mağazalarda endirim alacaqsınız.
                Təkcə kartın dizaynı çox şey deyir. Stereotipləri kartın dizaynında qırdıq və şaquli kart yaratdıq. Bu kartla kassada hər kəsin diqqətini özünüzdə cəmləyəcəksiniz. Yelo Kart təkcə şaquli dizaynı ilə seç<span id="dots">...</span>
                <span onclick="myFunction()" id="myBtn">Daha çox</span>
                <span id="more">ilmir, həmçinin kartın kənarının da fərqli rənginə görə pulqabınızda dərhal digər kartlardan
                    seçiləcək! Kartın müddəti 3 ildir və kartı pulsuz əldə etmək seçiminiz də var. Kart Sifarişi zamanı üç
                    valyutadan istənilən birini bilərsiniz.
                    <br>
                    Yelo Premium kartı isə premium üstünlüklər deməkdir. Yüksək imtiyazlar verən Yelo Premium Kartla nəinki
                    ölkədaxili, həm də ölkəxaricində də eksklüziv imkanlara sahib olacaqsınız. Harda olmağınızdan asılı
                    olmayaraq Yelo Premium kartı
                    sizi xüsusi hiss etdirməklə yanaşı gəlirinizə gəlir gətirəcək! Yelo Kartı istənilən Yelo Bank ATM-lərin
                    komissiyasız nağdlaşdıra bilirsiniz. Geniş partnyor şəbəkəsindən 30%-dək cashback əldə etməklə cibinizi
                    sevindirəcəksiniz! Yelo
                    kart təmassız ödəniş funksionallığını dəstəkləyir. Kartla daha çox xərcləyin, daha çox qazanın! Online
                    kart sifarişi xidməti ilə kartı əldə etmək imkanınız var. Yelo kartla aylıq ən azı 300 AZN və ya
                    ekvivalentində pul xərcləyərək
                    (onlayn və POS terminallarda alış-veriş əməliyyatları zamanı) bir çox əlavə üstünlüklər qazanmış
                    olursunuz!
                    <br>
                    Yelo Bank-dan nəinki debet kart, həm də Yelo Kredit kart sifarisi edə bilərsiniz. Yelo Grace Light kart
                    ilə hər ay yalnız hesablanmış
                    faizlər ödəməklə 10 000 AZN-ə dək kredit almaq imkanınız var. Üstəlik bu kartla bu gün xərcləyib, nə az,
                    nə çox, 45 gün xərciniz barədə düşünməyə bilərsiniz. Kartla xərclənmiş vəsait üçün 45 gün güzəşt müddəti
                    mövcuddur. Kartın növündən
                    asılı olmayaraq hesabınıza 24/7 pulsuz Yelo App-də baxa bilə və bir çox ödəniş və köçürmələrinizi həyata
                    keçirə bilərsiniz. Yelo Kart əldə etmək istəyirsiniz, lakin banka yaxınlaşmağa vaxtınız yoxdur? problem
                    deyil, istənilən zaman
                    istənilən yerdə onlayn kart sifarişi verə bilərsiniz! İndi siz haradan kart sifarişi edəcəyinizi yaxşı
                    bilirsiniz.</span>
            </p>
        </div>
    </div>
</main>
{% endblock %} {% block footer%}

<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {} else {
            dots.style.display = "none";
            btnText.style.display = "none";
            moreText.style.display = "inline";
        }
    }
</script>
{% endblock %}