{% extends 'base.html' %} {% block title %}Yelo Bank{% endblock %} {% block head %}
<!-- css -->
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {% endblock %} {% block content %}
<main>
    <section id="home_slider">
        <div class="home_silder">
            <div class="main-carousel" data-flickity>
                <div class="carousel-cell">
                    <div class="slide_left">
                        <div class="slide_content">
                            <div class="content_top">
                                <b>Bu 13 sənə düşərli olacaq!</b>
                                <p>Tam onlayn kredit</p>
                            </div>
                            <div class="content_bottom">
                                <button class="btn_order"><a href="#">Sifariş et</a></button>
                            </div>
                        </div>
                    </div>

                    <div class="slide_right">
                        <img src="{{url_for('static', filename='images/13-site-file.png')}}" alt="" width="100%" height="100%">
                    </div>

                </div>

                <div class="carousel-cell">
                    <div class="slide_left">
                        <div class="slide_content">
                            <div class="content_top">
                                <b>Banka gəlmədən</b>
                                <p>Tam onlay kredit</p>
                            </div>
                            <div class="content_bottom">
                                <button class="btn_more"><a href="#">Daha ətraflı <i
                                            class="fa-solid fa-arrow-right-long"></i></a></button>

                            </div>
                        </div>
                    </div>

                    <div class="slide_right">
                        <img src="{{url_for('static', filename='images/onlayn_kredit-saytcover.png')}}" alt="" width="100%" height="100%">
                    </div>

                </div>


                <div class="carousel-cell">
                    <div class="slide_left">
                        <div class="slide_content">
                            <div class="content_top">
                                <b>Ad günü hədiyyəsi</b>
                                <p>Endirimli komisiyasız kredit</p>
                            </div>
                            <div class="content_bottom">
                                <button class="btn_order"><a href="#">Sifariş et</a></button>
                                <button class="btn_more"><a href="">Daha ətraflı <i
                                            class="fa-solid fa-arrow-right-long"></i></a></button>
                            </div>
                        </div>
                    </div>

                    <div class="slide_right">
                        <img src="{{url_for('static', filename='images/birthday_-_karusel_2.jpeg')}}" alt="" width="100%" height="100%">
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="slide_left">
                        <div class="slide_content">
                            <div class="content_top">
                                <b>Baxışını dəyiş</b>

                            </div>
                            <div class="content_bottom">
                                <button class="btn_order"><a href="#">Kart sifarişi</a></button>
                                <button class="btn_more"><a href="">Daha ətraflı <i
                                            class="fa-solid fa-arrow-right-long"></i></a></button>
                            </div>
                        </div>
                    </div>

                    <div class="slide_right">
                        <img src="{{url_for('static', filename='images/1.png')}}" alt="" width="100%" height="100%">
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="slide_left">
                        <div class="slide_content">
                            <div class="content_top">
                                <b>Krediti cəmi 7 dəqiqəyə al</b>
                                <p>Onlayn sifariş et, filiala gəlmə</p>
                            </div>
                            <div class="content_bottom">
                                <button class="btn_order"><a href="#">Sifariş et</a></button>
                            </div>
                        </div>
                    </div>

                    <div class="slide_right">
                        <img src="{{url_for('static', filename='images/yelo_az_-_7_deqiqe-aze_1.jpeg')}}" alt="" width="100%" height="100%">
                    </div>
                </div>
            </div>
            <div class="progress-bar"></div>


        </div>
    </section>
    <section id="stories">
        <div class="wrap">
            <div class="block stories">
                <div class="block_title">
                    <h3>Storilər <span class="counter">3</span></h3>

                </div>
                <div class="story_content">
                    <div class="story_carousel">
                        <div class="carousel" data-flickity='{"groupCells": true }'>
                            <div class="carousel-cell" style="background-color: #0071C7;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="story_desc">
                                    <span class="tag" style="color: #0071C7;">Kredit</span>
                                    <b>Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var</b>
                                </div>
                                <div class="story_img" style="background-image: url(../static/images/story-kredit.png);"> </div>
                            </div>
                            <div class="carousel-cell" style="background-color: #D82A34;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="story_desc">
                                    <span class="tag" style="color: #D82A34;">Cashback</span>
                                    <b>600-dən çox partnyoru özündə birləşdirən Cashback proqramı</b>
                                </div>
                                <div class="story_img" style="background-image: url(../static/images/stories-5-pic.png);"></div>
                            </div>
                            <div class="carousel-cell" style="background-color: #81BD5B;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="story_desc">
                                    <span class="tag" style="color: #81BD5B;">Yelo kart</span>
                                    <b>Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək</b>
                                </div>
                                <div class="story_img" style="background-image: url(../static/images/stories-6.png);">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="margin: 2% 27%;">
                        <div class="modal-content" style="width: 750px;">

                            <div class="carousel" data-flickity='{"autoPlay": true }'>
                                <div class="carousel-cell" style="background-color: #0071C7; position: relative;">
                                    <div class="story_desc">
                                        <span class="tag" style="color: #0071C7;">Kredit</span>
                                        <b>Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var</b>
                                    </div>
                                    <div class="story_img" style="background-image: url(../static/images/story-kredit.png); width: 58%;">
                                    </div>
                                </div>
                                <div class="carousel-cell" style="background-color: #D82A34;  position: relative;">
                                    <div class="story_desc">
                                        <span class="tag" style="color: #D82A34;">Cashback</span>
                                        <b>600-dən çox partnyoru özündə birləşdirən Cashback proqramı</b>
                                    </div>
                                    <div class="story_img" style="background-image: url(../static/images/stories-5-pic.png); width: 58%;">
                                    </div>
                                </div>
                                <div class="carousel-cell" style="background-color: #81BD5B; position: relative;">
                                    <div class="story_desc">
                                        <span class="tag" style="color: #81BD5B;">Yelo kart</span>
                                        <b>Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək</b>
                                    </div>
                                    <div class="story_img" style="background-image: url(../static/images/stories-6.png); width: 58%;">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="main_wrap">
            <div class="block">
                <div class="block_content">
                    <div class="card_info">
                        <div class="card_content">
                            <div class="card_text">
                                <b>Yelo Light</b>
                                <p>İstənilən ödənişlər üçün doğru seçim</p>
                            </div>

                            <div class="remain_cash">
                                <div class="remain">
                                    <p>Qalığa gəlir</p>
                                    <b>5%</b>
                                </div>
                                <div class="cashback">
                                    <p>Cashback</p>
                                    <b>30%-dək</b>
                                </div>
                            </div>
                            <button class="btn_style"><a href="#">Sifariş et</a></button>
                        </div>
                        <div class="card_img">
                        </div>
                    </div>
                    <div class="credit_calc col_content loan_calculator">

                        <div class="cc_title">
                            <b>Kredit kalkulyatoru</b>
                            <a href="#" class="arr_bttn">Daha ətraflı</a>
                        </div>
                        <div class="loan_calc">
                            <div class="lc_inputs">
                                <div class="lc_salary lc_item">
                                    <p>Aylıq əmək haqqı</p>
                                    <input name="salary" type="text" value="7500" max="15000" class="range_result">
                                    <div class="lc_c">AZN</div>
                                    <input type="range" min="350" max="15000" step="50" value="7500" class="range" id="salary">
                                </div>
                                <div class="lc_amount lc_item">
                                    <p>Məbləğ</p>
                                    <input name="credit" type="text" value="15000" max="30000" class="range_result">
                                    <div class="lc_c">AZN</div>
                                    <input type="range" min="300" max="30000" step="100" value="15000" class="range" id="credit">
                                </div>
                                <div class="lc_term lc_item">
                                    <p>Müddət</p>
                                    <input name="month" max="48" type="text" value="12" class="range_result">
                                    <div class="lc_c">ay</div>
                                    <input type="range" min="6" max="48" step="1" value="12" class="range" id="month">
                                </div>
                            </div>
                            <div class="lc_result">
                                <div class="lc_r_self" style="justify-content:center;">
                                    <div class="lc_r_item" style="text-align:right;width:33%;">
                                        <p>Aylıq ödəniş</p>
                                        <b id="month_pay">1346.<span style="font-size:10px;" id="pay_remaind">81</span>
                                            <span>AZN</span></b>
                                    </div>

                                </div>
                                <a href="/az/individuals/loans/consumer-loan/#order_form" class="btn_style">Kredit
                                    sifarişi</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block_title">
                    <h3>Sizin üçün faydalı</h3>
                </div>
                <div class="block_content">
                    <div class="app">
                        <div class="app_content">
                            <div class="app_text">
                                <b>YeloBank App</b>
                                <p>Yelo-dan yeni və parlaq mobil əlavə. Hesablarını izlə, köçürmə və ödənişlərini sürətli et.</p>
                            </div>
                            <ul class="app_social">
                                <li class="app_social_item">
                                    <a href="https://apps.apple.com/az/app/yelo/id1515449668">
                                        <i class="fa-brands fa-apple"></i>
                                        <div>
                                            <span>Yüklə</span>
                                            <p>App Store</p>
                                        </div>


                                    </a>
                                </li>
                                <li class="app_social_item">
                                    <a href="https://play.google.com/store/apps/details?id=az.yelo.app&hl=ru">
                                        <i class="fa-brands fa-google-play"></i>
                                        <div>
                                            <span>Yüklə</span>
                                            <p>Google Play</p>
                                        </div>

                                    </a>
                                </li>
                                <li class="app_social_item">
                                    <a href="https://appgallery.huawei.com/#/app/C104500649">
                                        <i class="fa-brands fa-google-play"></i>
                                        <div>
                                            <span>Yüklə</span>
                                            <p>AppGallery</p>
                                        </div>

                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="app_img">
                            <div class="app_phone"></div>
                            <img src="{{url_for('static', filename='images/screen_app.jpeg')}}" alt="">
                        </div>
                    </div>
                    <div class="valyuta">
                        <div class="valyuta_content">
                            <div class="valyuta_title">
                                <b>Valyuta Məzənnələri</b>
                                <select name="cash" style="border: none; color: gray; font-size: 14px;">
                                    <option value="nağd" selected>Nağd</option>
                                    <option value="nağdsız">Nağdsız</option>
                                </select>

                            </div>
                        </div>
                        <div class="calculator">
                            <div class="c_line">
                                <input type="text" name="sell" placeholder="Satıram" value="" class="c_int input_value only_number">
                                <select id="from" name="from" class="s_curr" oninput="selected_value()">
                                    <option value="azn" selected >AZN</option>
                                    <option value="usd">USD</option>
                                    <option value="eur">EUR</option>
                                </select>
                            </div>
                            <div class="c_line">
                                <div class="c_int input_result" id="input_result">Alıram</div>
                                <select name="to" id="to" class="s_curr" oninput="exchange_calculator();">
                                    <option value="azn" id="azn" style="display: none;">AZN</option>
                                    <option value="usd" selected id="usd">USD</option>
                                    <option value="eur" id="eur">EUR</option>
                                </select>
                            </div>
                            <div class="c_result">
                                <div class="cr_item">
                                    <p>Valyuta</p>
                                    {%for elem in exchange%}
                                    <b class="cr_item_curr table_rate" data-curr="usd" style="display: block">{{elem['@Code']}}</b> {%endfor%}
                                </div>
                                <div class="cr_item">
                                    <p>Alış</p>
                                    {%for elem in exchange%}
                                    <b class="cr_item_buy table_buy_rate" data-curr="{{elem['@Code']}}" style="display: block">{{elem['Value']}}</b> {%endfor%}
                                </div>

                                <div class="cr_item">
                                    <p>Satış</p>
                                    {%for elem in exchange%}
                                    <b class="cr_item_sell table_buy_rate" data-curr="{{elem['@Code']}}" style="display: block">{{elem['Value']}}</b> {%endfor%}
                                </div>
                            </div>
                            <p id="note">Region filiallarında məzənnələr fərqli ola bilər</p>
                            <div class="all_exchanges">
                                <a href=""><span>Bütün məzənnələr</span><i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block_title">
                    <h3>Son xəbərlər</h3>
                </div>
                <div class="block_content">
                    <ul class="news_list">
                        {%for news in all_news%}
                        <li class="news_item">
                            <a href="/az/news/{{news['slug']}}">
                                <div class="news_l_desc">
                                    <b>{{news['title']}}</b>
                                    <div class="news_foot">
                                        <span>Daha ətraflı <i class="fa-solid fa-arrow-right-long"></i></span>

                                        <time>{{news['added_at']}}</time>
                                    </div>

                                </div>
                            </a>
                        </li>
                        {%endfor%}


                    </ul>
                </div>
                <div class="news_link">

                    <a href="az/news" data-url="/az/news/?begin=30" id="more_news">Daha çox <i
                            class="fa-solid fa-arrow-right-long"></i></a>

                </div>
            </div>
        </div>
    </section>

</main>





{% endblock %} {% block footer%}
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- slider js -->
<script src="{{url_for('static', filename='docs/flickity.pkgd.min.js')}}"></script>
<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/0187bb1c04.js" crossorigin="anonymous"></script>
<!-- Index js -->
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}